
<!-- Navbar -->
<div class="navbar">
  <div class="company-name">
    <span>Prathiksha Mol Travels</span>
  </div>
  
  <button mat-raised-button color="primary" routerLink="/home">Home</button>
  <button mat-raised-button color="accent" routerLink="/about">About</button>
  <button mat-raised-button color="warn" routerLink="/menu">Menu</button>
  <button mat-raised-button color="primary" routerLink="/more">More</button>
</div>    
  
<div class="dashboard">

<mat-card class="bus-location-card" [@fadeIn]>
    <div id="map">
      <p>Map showing bus locations (Use Google Maps API or other map service)</p>
    </div>
  </mat-card>
  